doctype html
html(lang="id")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Pengumuman Penting: Perubahan Tanggal EVOCATIVE.FEST
    style
      body
        margin: 0
        padding: 20px
      h1
        font-size: 24px
        margin-bottom: 10px
      p
        margin-bottom: 10px
  body
    h1 Pengumuman Penting: Perubahan Tanggal EVOCATIVE.FEST

    p Dengan penuh pertimbangan, kami dari pihak EVOCATIVE.FEST memohon maaf sebesar-besarnya kepada semua pihak terkait.

    p Karena acara kami terpaksa kami alihkan dari Jumat, 8 Maret 2024, ke Jumat, 18 April 2024, sehubungan dengan surat izin keramaian dari pihak kepolisian dan upaya ini dilakukan guna mengantisipasi potensi gangguan selama perhitungan suara.

    p Kami sadar perubahan ini mungkin menimbulkan ketidaknyamanan, dan dengan tulus, kami memohon pengertian dan dukungan. Keputusan ini diambil demi keamanan dan kenyamanan bersama, dan kami berkomitmen untuk menyelenggarakan acara yang berkualitas.

    p Kami mengucapkan terima kasih atas pengertian dan dukungannya.

    p Salam hormat,

    p Tim EVOCATIVE.FEST
    
    p Silahkan Akses link berikut untuk mengecek tiket anda masing - masing untuk melihat perubahan tanggal 
      a(href=`${ticketLink}`) #{ticketLink}
    
    p Silahkan melihat pemberitahuan official panitia pelaksana pada link berikut 
      a(href=`${infoLink}`) #{infoLink}

